/*

	main.css
	author:	P E Sartain
	date:	20/10/2008

*/

a:link, a:visited
{
   color: #6495ED;
   text-decoration: none;
}
a:hover
{
  color: white;
  text-decoration: underline overline;
}

#maincontent {
	background: green;
}

#calendar {
	border: 1px solid __border__;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px auto;
	}

#calendar th {
	background: __background_other__;
	border: 0px;
	}

.weekinfo {
	background: __background_alt__; 
	font-size: 0.9em;
	}

.cell {
	background: __background__;
	width: 100px; 
	height: 100px; 
	padding: 0px; 
	border: 1px solid __border__; 
	margin: 0px;
	vertical-align: top;
	}

.cell.today {
	background: __highlight__;
	}

.datecell {
	width: 65%;
	float: left;
	margin: 3px;
	padding: 3px;
	}

.admincell {
	float: none;
	width: 20%;
	}

.raidcell {
	float: none;
	}

.availcell {
	float: right;
	width: 13px;
	margin: 2px 2px 1px 0px;
	}

.calendarcheck {
	border: 1px solid black;
	}

.weekscroller td {
		text-align: center;
	}

#calendar input {
	border: 1px solid __text_alt__;
	font-size: 0.9em;
	}

div.over {
	background: white;
	font-size: 0.9em;
	cursor: text;
	}

div.out {}

div.totalplayers {
	background: __background_alt__;
	width: 13px;
	height: 80px;
	}

div.unavailplayers {
	background: red;
	}

div.availplayers {
	background: green;
	}

#editWeekBoxweekinfo0 {
	width: 450px;
	}

#editWeekBoxweekinfo7 {
	width: 450px;
	}

#editWeekBoxweekinfo14 {
	width: 450px;
	}

#editWeekBoxweekinfo21 {
	width: 450px;
	}

#linkheader {
	background-color: blue;
	}

div.black_overlay {
	display: none; 
	position: absolute; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	z-index: 1001; 
	-moz-opacity: 0.8; 
	opacity:.80; 
	filter: alpha(opacity=80);
	}

div.white_content {
	display: none; 
	position: absolute; 
	top: 10%; 
	left: 17%; 
	width: 65%; 
	height: 70%; 
	padding: 16px; 
	border: 1px solid gray; 
	background-color: white; 
	z-index: 1002; 
	overflow: auto;
	color: black;
	}

input {
	border: 0px;
	padding: 0px;
	background: #202020;
	font-size: 0.9em;
	}

div.unsaved {
	border: 1px solid red;
	background: #FF9999;
}

div.saved {
	border: 1px solid green;
	background: #99FF99;
}

input.achievementcheck {
	margin: 0px;
	padding: 0px;
	position: relative;
	right: 17px;
}

img.achievementcheck {
	position: relative;
}
